{% extends base_template %}


{% block title %}
    {% if title is defined %}{{ title }}{% endif %}
{% endblock%}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}

{% block content %}
    <table id="analysis-result-table" class="table table-bordered table-striped default footable-loaded">
        <thead>
            <tr>
                {% for field, value in result.0 %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    {% for value in row %}
                        <td data-sort="{{ value|replace({"'": '', ',': ''}) }}">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="{{ result.0|length }}" class="footable-last-column footable-first-column">
                    <div class="form-inline">
                        <div class="pull-right">
                            Download:
                            <a href="{{ admin.generateUrl('exportQuery', {'id': admin.id(object), 'format': 'json'}|merge(app.request.query.all)) }}">json</a>,
                            <a href="{{ admin.generateUrl('exportQuery', {'id': admin.id(object), 'format': 'xml'}|merge(app.request.query.all)) }}">xml</a>,
                            <a href="{{ admin.generateUrl('exportQuery', {'id': admin.id(object), 'format': 'csv'}|merge(app.request.query.all)) }}">csv</a>,
                            <a href="{{ admin.generateUrl('exportQuery', {'id': admin.id(object), 'format': 'xls'}|merge(app.request.query.all)) }}">xls</a>
                            &nbsp;-&nbsp;
                            {{ result|length }} Ergebnisse
                        </div>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
